/* #region Main */
:root {
    --options-hover: -6vmax;
}

html,
body {
    text-align: center;
    height: 100%;
    margin: 0;
}

body {
    background-color: #555555;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-drag: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.options-modal-content-scroll-wrapper::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 12px;
    background-color: #444;
}
.options-modal-content-scroll-wrapper::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
}
.options-modal-content-scroll-wrapper::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: #444;
}

@font-face {
    font-family: bebasBold;
    src: url(../fonts/BebasNeue-Bold.otf);
}

body {
    font-family: bebasBold, Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

.options {
    position: absolute;
    width: 100%;
}
.options div {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 15vmax;
    width: 30vmax;
}
.options div div {
    height: fit-content;
    width: fit-content;
    transform: translate(0, var(--options-hover));
    transition: transform 0.15s ease-in-out;
    font-size: 6vmax;
}
.icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.weapons-container,
.attachments,
.op-modal,
.op-modal-content,
.weapon-section,
.equipment-image,
.equipment-wrapper,
.op-modal-info,
.attachment-section-data,
.options,
.attachment-section-data-wrapper {
    display: flex;
    align-items: center;
}
.attachments,
.op-modal-content,
.weapon-section,
.equipment-image,
.op-modal,
.attachment-section-data,
.options,
.attachment-section-data-wrapper {
    justify-content: center;
}
.weapons-container,
.op-modal-info {
    justify-content: center;
}
.weapons-container,
.op-modal-content,
.op-modal-info {
    flex-wrap: wrap;
}
.icon-container,
.weapon-section,
.equipment-image,
.attachments,
.attachment-section-data,
.attachment-section-data-wrapper {
    flex-direction: column;
}

.op-modal,
.op-modal-content {
    min-width: fit-content;
}
.op-modal {
    min-height: 100%;
}
.op-modal-content {
    min-height: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
}
.weapons-container {
    height: fit-content;
    width: fit-content;
}

.op-modal-info,
.weapons-container {
    flex-grow: 1;
}
.op-data {
    background-color: #333333;
    border: #333333 inset 0.4vmax;
    max-width: fit-content;
    max-height: fit-content;
    margin: 1vmax;
    font-size: 3vmax;
}

.weapon-content {
    max-width: fit-content;
    max-height: fit-content;
    padding: 1vmax;
    margin: 1vmax;
    font-size: 2vmax;
}
.attachment-section-data {
    width: 10vmax;
    font-size: 2vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
    margin-top: 1vmax;
}
.attachment-section-data-wrapper,
.weapon-data {
    background-color: #333333;
    border: #333333 inset 0.4vmax;
    padding: 0.5vmax;
}
.attachment-section {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.attachment-image,
.weapon-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.weapon-image {
    height: 10vmax;
    width: 15vmax;
}
.attachment-image {
    height: 8vmax;
    width: 8vmax;
}
.attachments {
    width: 100%;
    height: fit-content;
}

.equipment-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 16.25vmax;
    width: 19.5vmax;
}
.equipment-content {
    max-width: fit-content;
    max-height: fit-content;
    font-size: 2.5vmax;
    text-align: center;
}
.equipment-data {
    background-color: #333333;
    border: #333333 inset 0.4vmax;
    margin: 1vmax;
    font-size: 1.5vmax;
}

.scrollable-wrapper {
    height: 30vmax;
    width: fit-content;
    overflow-x: auto;
    background-color: #333333;
}
.scrollable-wrapper table {
    height: 35vmax;
    width: 35vmax;
}
.scrollable-wrapper table tbody tr td button {
    height: 3.25vmax;
    width: 6.5vmax;
}

.select-all-button,
.filter-modal-content table tr td div,
.options-modal table tbody tr td section div div {
    cursor: pointer;
}

.options-modal-content-scroll-wrapper {
    width: fit-content;
    height: fit-content;
    overflow: auto;
    background: #333333;
    border: #333333 inset 0.4vmax;
}
.avoid-select-all-button-container,
.select-all-button-container {
    position: sticky;
    left: 0;
}
.avoid-select-all-button,
.select-all-button {
    margin-top: 2vmax;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: #222222 outset 0.4vmax;
    padding-left: 2vmax;
    padding-right: 2vmax;
    color: white;
    font-size: 3vmax;
    height: fit-content;
    width: fit-content;
    line-height: 7.5vmax;
    text-align: center;
}
.options-modal {
    display: block;
    background: #444444;
    height: fit-content;
    padding-bottom: 10vmax;
}
.options-modal-content,
.group-modal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.options-modal h1 {
    padding-top: 1.5vmax;
    margin: 1vmax 0;
    font-size: 5vmax;
    color: #ffffff;
}
.options-modal table tbody tr td h2 {
    margin: 10px 0;
    font-size: 3vmax;
    color: #ffffff;
}
.avoid-modal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    background: #333333;
    padding-top: 3%;
    padding-bottom: 3%;
}
.avoid-modal div div {
    background: transparent;
    font-size: 3vmax;
    height: 7vmax;
    width: 33vmax;
    line-height: 7.5vmax;
    border: #333333 outset 0.4vmax;
    font-family: inherit;
    text-align: center;
}

.nav-bar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.nav-bar button {
    color: white;
    background: transparent;
    width: 100%;
    font-size: 3vmax;
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.filter-modal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}
.filter-modal-content {
    width: fit-content;
    height: fit-content;
    overflow: none;
}

.filter-modal-content h1 {
    position: sticky;
    left: 0;
    margin: 2.5vmax 0 2vmax;
    font-size: 4vmax;
}
.group-select {
    cursor: pointer;
    font-size: 2vmax;
    border: #333333 outset 0.4vmax;
}

.filter-modal-content table tbody tr td {
    padding: 0 10px;
    font-size: 2vmax;
    height: 5vmax;
    line-height: 5vmax;
    text-align: center;
    vertical-align: top;
}
.filter-modal-content table tbody tr td div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 8vmax;
    font-size: 1.7vmax;
    border: #333333 outset 0.4vmax;
    line-height: normal;
}
.filter-modal-content table tbody img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.group-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    object-fit: contain;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h1 {
    font-size: 3em;
    color: white;
}

h2 {
    font-size: 30px;
    color: black;
}

h3 {
    font-size: 25px;
    color: black;
}

footer {
    height: 20px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
    font-family: Verdana Geneva Tahoma sans-serif;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#title {
    color: white;
}

@media screen and (min-width: 90vmax) {
    .op-modal-info {
        flex-direction: column;
    }
}
/* #endregion */
