/* #region Main */
html,
body {
    text-align: center;
    height: 100%;
    margin: 0;
}

body {
    background-color: #555555;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: bebasBold;
    src: url(../fonts/BebasNeue-Bold.otf);
}

h1,
.container,
#title,
.filter-modal-content p,
.filter-modal-content button,
.filter-modal-content table tr td div,
.options-modal table tbody tr td,
.group-select {
    font-family: bebasBold, Verdana, Geneva, Tahoma, sans-serif;
}
.filter-modal-content button,
.filter-modal-content table tr td div,
.group-modal-content div {
    cursor: pointer;
}
.group-select,
.options-modal table tbody tr td,
.filter-modal-content table tbody tr td,
.container {
    -webkit-user-drag: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.options-modal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #444444;
}
.options-modal table tbody tr td {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    border: #333333;
    border-style: outset;
}
.options-modal table tbody tr h1 {
    margin: 10px 0;
    font-size: 50px;
    color: #ffffff;
    cursor: pointer;
}
.options-modal table tbody tr h1 {
    margin: 10px 0;
    font-size: 50px;
    color: #ffffff;
    cursor: pointer;
}
.options-modal table {
    padding-bottom: 30px;
}

.group-modal,
.filter-modal {
    height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.group-modal-content {
    display: flex;
    width: 80%;
}

.filter-modal-content {
    width: fit-content;
    max-height: 80%;
    background: #333333;
    padding: 25px;
    color: #ffffff;
    overflow: auto;
    position: relative;
}
.filter-modal-content::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 12px;
    background-color: #444;
}
.filter-modal-content::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
}
.filter-modal-content::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: #444;
}

.filter-modal-content h1 {
    position: sticky;
    left: 0;
    margin: 0 0 10px;
    font-size: 3em;
}
.filter-modal-content p {
    position: sticky;
    left: 0;
    margin: 10px 0;
    font-size: 1.3em;
}
.filter-modal-content div {
    position: sticky;
    left: 0;
}
.filter-modal-content button {
    margin-bottom: 0;
    background-color: transparent;
    border-color: #333333;
    color: white;
    font-size: 24px;
    width: fit-content;
    text-align: center;
}
.group-select {
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    border-color: #333333;
    border-style: outset;
}

.filter-modal-content table {
    font-size: 1.6em;
    width: 100%;
}

.filter-modal-content table tbody tr td {
    padding: 0 10px;
    text-align: center;
    vertical-align: top;
}
.filter-modal-content table tbody tr td div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    border-width: 100%;
    border-style: outset;
    border-color: #333333;
}
.filter-modal-content table tbody img {
    width: 100px;

    height: 100px;
    margin: 0 auto;
    display: block;
}

.container,
.container:hover {
    padding-top: 5%;
    transition: transform 0.13s ease-in-out;
    height: fit-content;
}
.container {
    flex: 1;
    color: white;
    font-size: 2em;
}
.container:hover {
    transform: scale(110%);
}

.group-button {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    object-fit: contain;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h1 {
    font-size: 3em;
    color: white;
}

h2 {
    font-size: 30px;
    color: black;
}

h3 {
    font-size: 25px;
    color: black;
}

footer {
    height: 20px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#title {
    color: white;
}
/* #endregion */
