html,
body {
    text-align: center;
    height: 100%;
    margin: 0;
}

body {
    /* background-image: url(../images/WhiteBackground.jpg); */
    background-color: #555555;
    background-repeat: no-repeat;
    background-size: cover;
}

#attack-op {
    background-image: url(../Siege-Rando-Images/GroupIcons/Attackers_Icon.svg);
}
#attack-op:hover {
    background-image: url(../images/Attackers_Icon_hover.svg);
}

#defend-op {
    background-image: url(../Siege-Rando-Images/GroupIcons/Defenders_Icon.svg);
}
#defend-op:hover {
    background-image: url(../images/Defenders_Icon_hover.svg);
}

.op-group-button {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    border-color: transparent;
    padding: 10% 10%;
    transition: transform 0.05s ease-in-out;
}
.op-group-button:hover {
    transition: transform 0.05s ease-in-out;
    transform: scale(110%);
    background-color: transparent;
    background-size: contain;
    border-color: transparent;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 30px;
    color: black;
}

h3 {
    font-size: 25px;
    color: black;
}

footer {
    height: 20px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#title {
    color: white;
}
